body, html {
  color: #333333;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-mercury {
  background-color: #d4d4d4;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.h-100-70px {
    height: calc(100% - 70px)!important;
}

.h-70px {
  height: 70px!important;
  min-height: 70px;
}

.mt-70px {
  margin-top: 70px!important;
}

.right-0{
  right: 0!important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

