.container2{
    width: 300px;
    height: 160px;
    margin-left: 900px;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    background: #F3F4F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 6px;
    text-align: center;
}

.show_overview_hours {
    margin-bottom: 10px;
    background-color: #ff695e;
    border: 2px solid #f64939;
    color: rgb(8, 6, 6);
    border-radius: 6px;
    font-size: 16px;
}

ul {list-style-type: none;}
table {font-size: 12 px;}

.Jahr_Monat {
  padding: 70px 20px;
  width: 100%;
  background-color: #1e9cc5;
  text-align: center;
}


.Jahre {
  border-color: #21B8E9 !important;
  background-color: #F3F4F2;
}

/* label that shows whos calendar is shown */
.Mitarbeiter {
  font-size: x-large;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
}


.Jahr_auswählen {
  font-size: x-large;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
}



.Tabellen {
  border-radius: 8px;
  padding: 10px;
  background-color: #E7E7E7;
}


.Monat ul {
  margin: 0;
  padding: 0;
}

.Monat ul li {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}




