ul {list-style-type: none;}

/* month header */
.monthAndYear {
  padding: 70px 20px;
  width: 100%;
  height: 100%;
  background-color: #1e9cc5;
  text-align: center;
  font-size: 33px;
  color: rgb(193, 241, 241);
}

/* color of active weekday */
.border-thick {
  font-weight: bold;
  border-width: 10px;
  border: 3px solid rgb(56, 53, 53) !important;
}
/* color of workdays */
.bg-workday {
  background-color: #368cb4 !important;
}
/* color of days employee was sick */
.bg-sickday {
  background-color: #FF695E !important;
}
/* color of holidays */
.bg-holiday {
  background-color: #E9C750 !important;
}
/* color of home office */
.bg-home_office {
  background-color: #dd79e2 !important;
}
/* color of time compensation */
.bg-zeitausgleich {
  background-color: #60C538 !important;
}

.btn-outline-primary {
  color: #212529 !important;
  border-color: #21B8E9 !important;
}

.form-control {
  border-color: #21B8E9 !important;
}

/* label that shows whos calendar is shown */
.employeeLabel {
  font-size: x-large;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

/* year picker */
.yearPicker {
  font-size: x-large;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

.form-control {
  background-color: #F3F4F2;
}

/* label of legend that shows colors with its functions */
.legendLabel {
  font-size: large;
  padding: 15px;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

.card {
  border-radius: 8px;
  padding: 10px;
  background-color: #E7E7E7;
}

.border-black{
  border: 1px solid #9A9A9A !important;
}

/* month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* weekdays (mon-sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* highlight the current day */
.days li .active {
  padding: 5px;
  background: #21B8E9;
  color: white !important
}


/* part at dashboard */
ul {list-style-type: none;}

.bg-grey-white{
  background-color: #F3F4F2;
}

.w-15{
  width: 15%!important;
}

.w-25{
  width: 23%!important;
}

.w-65 {
  width: 65%!important;
}

.border-black{
  border: 1px solid #9A9A9A !important;
}

.calendar-card {
  background-color: #F3F4F2;
  padding-bottom: 5px;
}