.hintergrundbox{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 10px 10px 30px;
  align-self: start;
  background: #F3F4F2 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: 6px;
  display: flex;  

}


#dateTag{
  position: absolute;
  left: 6px;
  top: 7px;
  color: #9A9A9A;
}

.white{
  background: white;
}

#timeline{
  position: relative;
  margin-top: 7px;
  width: 106%;
  height: 40px;
  padding-top: 28px;
  margin-left: -84px;
  padding-left: 85px;
}

#line{
  width: 200px;
  position: absolute;
  background-color: #707070;
  height: 2px;
  margin-left: 49.1px;
  border-radius: 1.5px;
}

#live_point{
  position: absolute;
  top: -1px;
  left: -1px;

  background-color: #49bde6;
  border: 2px solid #45a6c9;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 0px;
}

#live_time{
  position: absolute;
  margin-left: 5px;

  left: -20px;
  top: -18px;

  padding: 0;
  color: #45a6c9;

  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

.stamp{
  position: absolute;
}

#start_point{
  position: absolute;
  top: -5px;
  left: -5px;

  background-color: #83CDCF;
  border: 2px solid #60A0A2;;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 4px;
}

#start_time{
  position: absolute;
  border-left: 1px, solid #60A0A2;

  left: -17px;
  top: -25px;

  padding: 0;
  color: #60A0A2;

  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

#start_time:hover{
  background-color: white;
  z-index: 1;
}

#end_point{
  position: absolute;
  top: -5px;
  left: -5px;

  background-color: #FFA9A2;
  border: 2px solid #f64939;;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 4px;
}

#krankheit{
  text-align: center;
  margin-top: -20px;
  color: #f64939;
  font: SemiBold 26px/40px Muli;
  text-transform: uppercase;
}

#urlaub{
  text-align: center;
  margin-top: -20px;
  color: #BCA246;
  font: SemiBold 26px/40px Muli;
  text-transform: uppercase;
}

#absense{
  text-align: center;
  margin-top: -20px;
  color: rgb(32, 32, 32);
  font: SemiBold 26px/40px Muli;
  text-transform: uppercase;
}

#end_time{
  position: absolute;
  border-left: 1px, solid #60A0A2;

  left: -17px;
  top: -25px;

  padding: 0;
  color: #f64939;

  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

#end_time:hover{
  background-color: white;
  z-index: 1;
}

.view{
  position: absolute;
  width: 88%;
  margin-left: 70px;
  margin-top: 74px;
}

#scale_line{
  width: 300px;
  position: absolute;
  background-color: #BEBEBE;
  height: 1px;
  border-radius: 1.5px;
} 

.hour{
  position: absolute;
  width: 0px;
  left: -15px;
  top: -15px;

  color: #BEBEBE;

  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

#einstempeln{
  display: block;
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  background-color: #83CDCF;
  border: 2px solid #60A0A2;
  color: #FFFFFF;
  border-radius: 6px;
}

#ausstempeln{
  display: block;
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  background-color: #ff695e;
  border: 2px solid #f64939;
  color: #FFFFFF;
  border-radius: 6px;
}
