{% extends "layout.html" %}
{% if boolPersNr == False %}
{% set active_page = "employee_list" %}
{% elif boolPersNr == True %}
{% set active_page = "dashboard" %}
{% endif %}
{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='overview_workdays.css') }}">

<div class="row mx-3">
    <!-- label to display who the calendars belong to -->
    <div class="employeeLabel col-7">
        <label>Jahresübersicht über die Arbeitstage von {{ user[0]["first_name"] }}
            {{ user[0]["last_name"] }}</label>
    </div>

    <!-- Show if the user is an HR Administrator -->
    {% if current_user.role == '1' %}
    <!-- Button to trigger the add-/edit-absences modal and remaining vacation -->
    <button type="button" class="btn btn-primary col-2" data-toggle="modal" data-target="#addAbsenceDaysModal">
        Fehltage eintragen/&auml;ndern <br>
        <span class="small">(Urlaub: {{ user[0]["remaining_holidays"] }}/{{ user[0]["holidays"] }}) </span>
    </button>
    <!-- Show if the user is a normal employee-->
    {% else %}
    <!-- Dispay remaining vacation -->
    <div class="employeeLabel col-2">
        <span>(Urlaub: {{ user[0]["remaining_holidays"] }}/{{ user[0]["holidays"] }}) </span>
    </div>
    {% endif %}

    <!-- year picker -->
    <div class="yearPicker row col-3 m-0 pl-5">
        <label>Jahresansicht </label>
        <form class="form-inline mx-3">
            <label for="year"></label><select class="form-control" name="year" id="year" onchange="jump()">
                <!-- if you want to show more years, just iterate the 5 here -->
                {% for i in range (5) %}
                <!-- array with the past 5 years in it (from the python route) -->
                <option value="{{ pastYears[i] }}">
                    {{ pastYears[i] }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>

<!-- row that displays the legend to show user the purposes behind colors -->
<div class="legendLabel mt-2 mb-2 mx-3">
    <div class="row">
        <div class="row mx-4">
            <div class="mx-2" style="width: 20px; height: 20px; background-color: #368cb4;"></div>
            <label>Arbeitszeit</label>
        </div>
        <div class="row mx-4">
            <div class="mx-2" style="width: 20px; height: 20px; background-color: #E9C750;"></div>
            <label>Urlaub</label>
        </div>
        <div class="row mx-4">
            <div class="mx-2" style="width: 20px; height: 20px; background-color: #FF695E;"></div>
            <label>Krankheit</label>
        </div>
        <div class="row mx-4">
            <div class="mx-2" style="width: 20px; height: 20px; background-color: #dd79e2;"></div>
            <label>Home Office</label>
        </div>
        <div class="row mx-4">
            <div class="mx-2" style="width: 20px; height: 20px; background-color: #60C538;"></div>
            <label>Zeitausgleich</label>
        </div>
    </div>
</div>


<!-- row to display calendars winthin a row -->
<div class="row ml-0 mr-0">
    <!-- setup 12 calendars -->
    {% for i in range (12) %}
    <div class="container col-3">
        <div class="card col-12 mt-4 mb-3 p-0">
            <table class="table table-bordered table-responsive-sm my-0">
                <thead>
                    <tr>
                        <!-- set weekdays in cells -->
                        <th class="border-black">So</th>
                        <th class="border-black">Mo</th>
                        <th class="border-black">Di</th>
                        <th class="border-black">Mi</th>
                        <th class="border-black">Do</th>
                        <th class="border-black">Fr</th>
                        <th class="border-black">Sa</th>
                    </tr>
                </thead>
                <!-- body of calendar -->
                <tbody class="calendar-body">
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    <!-- js script that converts data from python route in data that can be used in js -->
    <script>

        //set empty arrays to fill them up with timestamp data
        var yearTimestamp = [];
        var monthTimestamp = [];
        var dayTimestamp = [];
        var kindTimestamp = [];

        //get array from python route
        var timestampsArr = "{{ timestampsArr }}";
        //replace corrupted data
        timestampsArr = timestampsArr.split("&#39;").join("\"");
        //parse the data as json
        var timestampData = JSON.parse(timestampsArr);

        var count = 0;
        var h;
        for (h in timestampData) {
            //set single data from array in new arrays
            yearTimestamp[h] = timestampData[h].year;
            monthTimestamp[h] = timestampData[h].month;
            dayTimestamp[h] = timestampData[h].day;
            kindTimestamp[h] = timestampData[h].kind;
            h++;
        }

    </script>

    <!-- according javascript to html -->
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</div>

{% include "edit_absence_days.html" %}

{% endblock content %}