{% extends "layout.html" %}
{% set active_page = "dashboard" %}
{% block content %}
<link rel="stylesheet" href="../static/timestamp.css">
<link rel="stylesheet" href="../static/overview_workdays.css">
<link rel="stylesheet" href="../static/overview_hours.css">

<div class="row">
    <div class="col-3 mt-5 ml-5">
        <!-- Calendar part (Manuel) -->
        <!-- similar to overview over workdays but this time only one calendar -->
        <div class="calendar-card">
            <h3 class="monthAndYear mb-0" id="monthAndYear"></h3>
            <table class="table table-bordered table-responsive-sm bg-grey-white" id="calendar">
                <thead>
                    <tr>
                        <th class="border-black">So</th>
                        <th class="border-black">Mo</th>
                        <th class="border-black">Di</th>
                        <th class="border-black">Mi</th>
                        <th class="border-black">Do</th>
                        <th class="border-black">Fr</th>
                        <th class="border-black">Sa</th>
                    </tr>
                </thead>
                <tbody id="calendar-body"></tbody>
            </table>
            <!-- "Mehr anzeigen" + link to overview over workdays -->
            <!-- link with pers_nr in URL -->
            <a class="row justify-content-center"
                href='{{ url_for("calendar.overview_workdays",pers_nr=user[0]["pers_nr"]) }}'><i
                    class="fa fa-calendar mr-2 my-auto text-dark"></i>Mehr Anzeigen</a>
        </div>
    </div>

    <div class="col-3">
        <!-- Stamp Part Matti -->
        <div class="container bg-grey-white ml-5 mt-5" style="border-radius: 6px">
            <legend class="border-bottom mb-4 text-center">Ein-/ ausstempeln</legend>
            <div class="mx-auto">
                {%if lastKind == "einstempeln"%}
                <button id="ausstempeln" onclick="submit_entry(this);" value="ausstempeln">Ausstempeln</button>
                {%else%}
                <button id="einstempeln" onclick="submit_entry(this);" value="einstempeln">Einstempeln</button>
                {%endif%}
            </div>
            <div class="view w-65" id="timestampView"></div>
        </div>


        <!-- zur Stunden-Jahresübersicht Friedi -->
        <div class="container bg-grey-white mt-5 ml-5">
            <p style="text-align: middle; font-size: 20px; color: #110e0e;">
                Stunden-Jahresübersicht
            </p>
            <div>
                <a href='{{ url_for("overview_hours.hours_peryear_employee", pers_nr=user[0]["pers_nr"]) }}'
                    style="font-size: 20px;"><button class="show_overview_hours">zur Übersicht</button></a>
            </div>
        </div>
    </div>
</div>



<script src="../../static/js/timestamp_display/ruler.js"></script>
<script src="../../static/js/timestamp_display/timestamp.js"></script>
<script src="../../static/js/timestamp_display/pair_line.js"></script>
<script src="../../static/js/timestamp_display/day.js"></script>
<script src="../../static/js/timestamp_display/dashboard.js"></script>

<script type="text/javascript">

    //set empty arrays to fill them up with timestamp data
    var yearTimestamp = [];
    var monthTimestamp = [];
    var dayTimestamp = [];
    var kindTimestamp = [];

    //get array from python route
    var timestampsArr = "{{ timestampsArr }}";
    //replace corrupted data
    timestampsArr = timestampsArr.split("&#39;").join("\"");
    //parse the data as json
    var timestampData = JSON.parse(timestampsArr);

    var count = 0;
    var h;
    for (h in timestampData) {
        //set single data from array in new arrays
        yearTimestamp[h] = timestampData[h].year;
        monthTimestamp[h] = timestampData[h].month;
        dayTimestamp[h] = timestampData[h].day;
        kindTimestamp[h] = timestampData[h].kind;
        h++;
    }

    //Timestamp- Anzeige
    var statdate = "{{startdate}}"

    var stampInfo = "{{stampInfo}}"
    var pers_nr = '{{user[0]["pers_nr"]}}'
    var lastKind = '{{lastKind}}'

    stampInfo = stampInfo.split("&#34;").join("\"");

    var dayStamps = JSON.parse(stampInfo)

    TimestampCollection.init(false);

    function submit_entry(elem) {
        window.location.href = '/dashboard/add-timestamps?pers_nr=' + pers_nr + '&kind=' + elem.value;

    }


</script>

<!-- according javascript to html -->
<script type="text/javascript" src="{{ url_for('static', filename='js/calendar_dashboard.js') }}"></script>



{% endblock content %}