<script>

    $(function () {
        $(".datepicker").datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });

</script>


<!-- Modal for adding/editing absence days -->
<div class="modal fade" id="addAbsenceDaysModal" tabindex="-1" role="dialog" aria-labelledby="addAbsenceDaysModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAbsenceDaysModalLabel">Fehltage eintragen/ändern</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">

                    <!-- start date -->
                    <div class="row my-2">
                        <div class="col-4">
                            <label class="mr-3 d-inline-flex align-items-center h-100"
                                for="date_picker_absence_begin">Von</label>
                        </div>
                        <div class="form-group col-8 px-0 my-auto" id="date_picker_absence_begin">
                            <div class="datepicker date input-group px-0 ">
                                <input type="text" placeholder="auswählen ..." class="form-control" id="start_date">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end date -->
                    <div class="row my-2">
                        <div class="col-4">
                            <label class="mr-3 d-inline-flex align-items-center h-100"
                                for="date_picker_absence_end">Bis</label>
                        </div>
                        <div class="form-group col-8 px-0 my-auto" id="date_picker_absence_end">
                            <div class="datepicker date input-group px-0">
                                <input type="text" placeholder="auswählen ..." class="form-control" id="end_date">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Type of absence select -->
                    <div class="row my-2">
                        <div class="col-4">
                            <label class="mr-3 d-inline-flex align-items-center h-100" for="type_of_absence">Art</label>
                        </div>
                        <select class="form-control col-8 my-auto" id="type_of_absence">
                            <option value="0" selected="selected" disabled>auswählen ...</option>
                            <option value="1" data-level="urlaub">Urlaub</option>
                            <option value="2" data-level="krankheit">Krankheit</option>
                            <option value="3" data-level="zeitausgleich">Zeitausgleich</option>
                            <option value="4" data-level="home_office">Home Office</option>
                            <option value="5" data-level="no_absence">Arbeitstag/Kein Fehltag</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" onclick="enter_abscence()">Fehltage eintragen</button>
            </div>
        </div>
    </div>


    <script>
        var type_of_absence;
        var start_date;
        var end_date;

        // Get the value of the start date if the user selects a date in the calendar
        $('#start_date').on('change', function () {
            start_date = $('#start_date').val();
        });

        // Get the value of the end date if the user selects a date in the calendar
        $('#end_date').on('change', function () {
            end_date = $('#end_date').val();
        });

        // Get the value of the type-of-absence drop-down if the user makes a selection
        $('#type_of_absence').on('change', function () {
            type_of_absence = this.options[this.selectedIndex].getAttribute('data-level');
        });

        // Gets called if the "Fehltage eintragen" button gets klicked
        function enter_abscence() {
            // Send a GET request to the enter_absence route with the pers_nr, the selected start_date, end_date and type_of_absence
            window.location.href = "/enter_absence?start_date=" + start_date + "&end_date=" + end_date + "&type_of_absence=" + type_of_absence + "&pers_nr=" + "{{ user[0]['pers_nr']}}";
        };
    </script>
</div>