<!-- On this site:
    -Overview of all the own time stamps in a freely selectable period 
    -Input fields to determine the time period to be displayed -->
{% extends "layout.html" %}
{% set active_page = "overview" %}
{% block content %}
<link rel="stylesheet" href="../static/timestamp.css">
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.de.min.js"
    charset="UTF-8"></script>
<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css"
    rel="stylesheet">

<div class="hintergrundbox">
    <!-- Date from -->
    <div>Zeit-Stempel von:</div>

    <div class="span5 col-md-2" id="sandbox-container">
        <input type="text" class="form-control" id="timeIn">
    </div>
    <!-- Date to -->
    <div>bis:</div>
    <div class="span5 col-md-2" id="sandbox-container">
        <input type="text" class="form-control" id="timeOut">
    </div>
    <!-- submit date from and -to -->
    <div class="span5 col-md-1" id="sandbox-container">
        <button onclick="submit_entry();">anzeigen!</button>
    </div>
    <!-- div to insert all the days to be displayed -->
    <div class="view" id="timestampView"></div>
</div>
<!-- includes for displaying the timestamps -->
<script src="../../static/js/timestamp_display/ruler.js"></script>
<script src="../../static/js/timestamp_display/timestamp.js"></script>
<script src="../../static/js/timestamp_display/pair_line.js"></script>
<script src="../../static/js/timestamp_display/day.js"></script>
<script src="../../static/js/timestamp_display/timestamps.js"></script>

<script>
    // get startdat
    var startdate = "{{startdate}}";
    // function to use datepicker
    $(function () {
        $('#sandbox-container input').datepicker({
            format: "dd.mm.yyyy",
            language: "de",
            todayHighlight: true,
            toggleActive: true
        });
    });
    // get timestamps
    var timestamps = []
    timestamps = "{{timestamps}}"
    // make timestamps parsable
    timestamps = timestamps.split("&#34;").join("\"");
    //parse timestamps
    var array = JSON.parse(timestamps)
    //initialize the timestamp display
    TimestampCollection.init(false);
    //funcion to be called when new timespan is selected
    function submit_entry() {
        //get time in and time out from datepickers as strings
        var timeIN = document.getElementById("timeIn");
        var timeOut = document.getElementById("timeOut");

        var entry = {
            "from": dateIn = timeIN.value,
            "to": dateOut = timeOut.value
        }
        // make request to get-timestamps route
        fetch("/overview/get-timestamps", {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            //handle response
            .then(function (response) {
                if (response.status !== 200) {
                    window.location.href = "/overview";
                    return;
                }

                response.json().then(function (data) {
                    sessionStorage.removeItem('_flashes');

                    statdate = new Date(data["startdate"]);

                    timestamps = data["timestamps"];
                    // make timestamps parsable            
                    timestamps = timestamps.split("&#34;").join("\"");
                    //parse timestamps
                    array = JSON.parse(timestamps)
                    //delete old timestamp display
                    document.getElementById("timestampView").innerHTML = "";
                    // make new timestamp display
                    TimestampCollection.init(false);
                })
            })
    }

</script>

{% endblock content %}