{% extends "layout.html" %}
{% set active_page = "employee_list" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='employee_detail.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/datepicker.js')}}"></script>

<div class="container-fluid">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <!-- if pers_nr existst, employee gets edited, else new imployee -->
                {% if user.pers_nr %}
                Mitarbeiter bearbeiten
                {% else %}
                Neuer Mitarbeiter
                {% endif %}
            </legend>
            <div class="row">
                <div class="col-3">
                    <!-- if pers_nr existst, show pers_nr as well -->
                    {% if user.pers_nr %}
                    <div class="row">
                        <div class="form-group form-inline">
                            {{ form.pers_nr.label(class="form-control-label mr-3") }}
                            {{ form.pers_nr(class="form-control form-control-lg bg-lightgray text-muted shadow-none cursor-default", readonly=true) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- if pers_nr existst, show state as well -->
                    {% if user.pers_nr %}
                    <div class="row">
                        <div class="form-group form-inline">
                            {{ form.state.label(class="form-control-label mr-3") }}
                            {{ form.state(class="form-control form-control-lg bg-lightgray text-muted shadow-none cursor-default", readonly=true) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- if employee is deactivated, show reason of the deactivation -->
                    {% if user.inactive_reason %}
                    <div class="row">
                        <div class="form-group form-inline">
                            {{ form.inactive_reason.label(class="form-control-label mr-3") }}
                            {{ form.inactive_reason(class="form-control form-control-lg bg-lightgray text-muted shadow-none cursor-default", readonly=true) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if user %}
                    <img class="" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
                    {% else %}
                    <img class="" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
                    {% endif %}
                    {{ form.picture(class="form-control-file") }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <!-- first_name -->
                    {{ form.first_name.label(class="form-control-label mt-3") }}
                    {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.first_name(class="form-control form-control-lg", placeholder=form.first_name.description, tabindex=1) }}
                    {% endif %}
                </div>
                <div class="col-5">
                    <!-- street -->
                    {{ form.street.label(class="form-control-label mt-3") }}
                    {% if form.street.errors %}
                    {{ form.street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.street.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.street(class="form-control form-control-lg", placeholder=form.street.description, tabindex=8) }}
                    {% endif %}
                </div>
                <div class="col-1">
                    <!-- house_number -->
                    {{ form.house_number.label(class="form-control-label mt-3") }}
                    {% if form.house_number.errors %}
                    {{ form.house_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.house_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.house_number(class="form-control form-control-lg", placeholder=form.house_number.description, tabindex=9) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <!-- last_name -->
                    {{ form.last_name.label(class="form-control-label mt-3") }}
                    {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.last_name(class="form-control form-control-lg", placeholder=form.last_name.description, tabindex=2) }}
                    {% endif %}
                </div>
                <div class="col-2">
                    <!-- zip_code -->
                    {{ form.zip_code.label(class="form-control-label mt-3") }}
                    {% if form.zip_code.errors %}
                    {{ form.zip_code(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.zip_code.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.zip_code(class="form-control form-control-lg", placeholder=form.zip_code.description, tabindex=10) }}
                    {% endif %}
                </div>
                <div class="col-4">
                    <!-- city -->
                    {{ form.city.label(class="form-control-label mt-3") }}
                    {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.city(class="form-control form-control-lg", placeholder=form.city.description, tabindex=11) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <!-- Email -->
                    {{ form.email.label(class="form-control-label mt-3") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg", placeholder=form.email.description, tabindex=3) }}
                    {% endif %}
                </div>
                <div class="col-6">
                    <!-- department -->
                    {{ form.department.label(class="form-control-label mt-3") }}
                    {% if form.department.errors %}
                    {{ form.department(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.department.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.department(class="form-control form-control-lg", placeholder=form.department.description, tabindex=12) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <!-- birthdate -->
                    {{ form.birthdate.label(class="form-control-label mt-3") }}
                    {% if form.birthdate.errors %}
                    {{ form.birthdate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.birthdate.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.birthdate(class="form-control form-control-lg", placeholder=form.birthdate.description, tabindex=4) }}
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- gender -->
                    {{ form.gender.label(class="form-control-label mt-3") }}
                    {% if form.gender.errors %}
                    {{ form.gender(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gender.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.gender(class="form-control form-control-lg", placeholder=form.gender.description, tabindex=5) }}
                    {% endif %}
                </div>
                <div class="col-6">
                    <!-- position -->
                    {{ form.position.label(class="form-control-label mt-3") }}
                    {% if form.position.errors %}
                    {{ form.position(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.position.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.position(class="form-control form-control-lg", placeholder=form.position.description, tabindex=13) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <!-- time_model -->
                    {{ form.time_model.label(class="form-control-label mt-3") }}
                    {% if form.time_model.errors %}
                    {{ form.time_model(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.time_model.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.time_model(class="form-control form-control-lg", placeholder=form.time_model.description, tabindex=6) }}
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- holidays -->
                    {{ form.holidays.label(class="form-control-label mt-3") }}
                    {% if form.holidays.errors %}
                    {{ form.holidays(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.holidays.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.holidays(class="form-control form-control-lg", placeholder=form.holidays.description, tabindex=7) }}
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- salary -->
                    {{ form.salary.label(class="form-control-label mt-3") }}
                    {% if form.salary.errors %}
                    {{ form.salary(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.salary.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.salary(class="form-control form-control-lg", placeholder=form.salary.description, tabindex=14) }}
                    {% endif %}
                </div>
                <div class="col-3">
                    <!-- role -->
                    {{ form.role.label(class="form-control-label mt-3") }}
                    {% if form.role.errors %}
                    {{ form.role(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.role.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.role(class="form-control form-control-lg", placeholder=form.role.description, tabindex=15) }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group mt-5">
            <!-- if pers_nr exists, show button for activation/deactivation -->
            {% if user.pers_nr %}
            <button type="button" class="btn 
            {% if user.state == 'aktiv' %}
            btn-outline-danger
            {% elif user.state == 'inaktiv' %}
            btn-outline-success
            {% endif %}
            mx-3 px-5" data-toggle="modal" data-target="#myModal">
                <!-- if employee is active, show button "Deaktivieren" else "Aktivieren" -->
                {% if user.state == 'aktiv' %}
                Deaktivieren
                {% elif user.state == 'inaktiv' %}
                Aktivieren
                {% endif %}
            </button>
            {% endif %}
            <!-- redirect to employee_list by cancel -->
            <a href="{{ url_for('employee_administration.employee_list') }}" class="text-decoration-none"><button
                    type="button"
                    class="btn btn-outline-info mx-3 px-5 float-right text-info text-info-hover">Abbrechen</button></a>
            <!-- save button -->
            {{ form.save(class="btn btn-outline-info mx-3 px-5 float-right", tabindex=15) }}
        </div>
    </form>
</div>

<!-- the modal, which appears on the active/deactive button -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-align">
                    {% if user.state == 'aktiv' %}
                    Mitarbeiter deaktivieren
                    {% elif user.state == 'inaktiv' %}
                    Mitarbeiter aktivieren
                    {% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="">
                    <!-- if employee gets deactivated, show reasons for deactivation -->
                    {% if user.state == 'aktiv' %}
                    <fieldset class="form-group">
                        <div class="dropdown">
                            <select class="form-control" id="change_reason">
                                <option value="" selected="selected" disabled>Grund wählen</option>
                                <option value="1" data-level="Kündigung">Kündigung</option>
                                <option value="2" data-level="Elternzeit">Elternzeit</option>
                                <option value="3" data-level="Suspendierung">Suspendierung</option>
                                <option value="4" data-level="Sonstiges">Sonstiges</option>
                            </select>
                        </div>
                    </fieldset>
                    <!-- else just show button for activation -->
                    {% elif user.state == 'inaktiv' %}

                    {% endif %}

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <!-- if employee is active, show "Mitarbeiter deaktivieren" else "Mitarbeiter aktivieren" -->
                        <button type="button" class="btn
                        {% if user.state == 'aktiv' %}
                        btn-outline-danger
                        {% elif user.state == 'inaktiv' %}
                        btn-outline-success
                        {% endif %}
                        " onclick="set_reason()">
                            {% if user.state == 'aktiv' %}
                            Mitarbeiter deaktivieren
                            {% elif user.state == 'inaktiv' %}
                            Mitarbeiter aktivieren
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Abbrechen</button>
                    </div>

                    <script>
                        // if employee gets deactivated, get reason out of the dropdown on change
                        if ("{{ user.state }}" == 'aktiv') {
                            var change_reason = document.getElementById('change_reason');
                            var choice;
                            change_reason.onchange = function () {
                                choice = this.options[this.selectedIndex].getAttribute('data-level');
                            };
                            change_reason.onchange();
                        }

                        function set_reason() {
                            // if employee gets deactivated, call employee_change_state and set pers_nr and reason for deactivation into the url, else just pers_nr
                            if ("{{ user.state }}" == 'aktiv') {
                                window.location.href = '/employee_change_state?pers_nr=' + "{{ user.pers_nr }}"
                                    + '&reason=' + choice;
                            }
                            else if ("{{ user.state }}" == 'inaktiv') {
                                window.location.href = '/employee_change_state?pers_nr=' + "{{ user.pers_nr }}";
                            }
                        }
                    </script>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock content %}