{% extends "layout.html" %}
{% set active_page = "employee_list" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='employee_list.css') }}">

<div class="container-fluid">
    <div class="mt-3">
        <h3>Liste aller Mitarbeiter</h3>
        <div class="d-flex justify-content-end">

            <!-- all users shown -->
            {% if state == None %}
            <a href="{{ url_for('employee_administration.employee_list', state='all') }}"
                class="text-decoration-none"><button class="btn btn-light text-info mx-3"><i
                        class="fa fa-users mr-3"></i>
                    Alle Mitarbeiter anzeigen</button></a>
            <!-- only active users shown -->
            {% elif state == 'all' %}
            <a href="{{ url_for('employee_administration.employee_list') }}" class="text-decoration-none"><button
                    class="btn btn-light mx-3 text-info"><i class="fa fa-users mr-3"></i>
                    Nur aktive Mitarbeiter anzeigen</button></a>
            {% endif %}

            <!-- add employee -->
            <a href="{{ url_for('employee_administration.employee_detail') }}" class="text-decoration-none"><button
                    type="button" class="btn btn-light mx-3 text-info"><i class="fa fa-user-plus mr-3"></i>
                    Mitarbeiter hinzufügen</button></a>
        </div>
        <hr>
    </div>

    <!-- table to display employees -->
    <div>
        <table id="employeeTable" class="table table-striped table-border table-hover">
            <thead>
                <tr>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
            <tbody>

                <!-- columns -->
                {% for employee in employees %}
                <tr>
                    <td> {{ employee["pers_nr"] }} </td>
                    <td> {{ employee["first_name"] }} </td>
                    <td> {{ employee["last_name"] }} </td>
                    <td> {{ employee["position"] }} </td>
                    <td> {{ employee["presence"] }} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript" src="{{ url_for('static', filename='js/employee_table.js') }}"></script>
    </div>
</div>

{% endblock content %}