{% extends "layout.html" %} 
{% if userrole == 1 %}  <!-- if user is logged in as personaler, show this page in employee_list -->
{% set active_page ="employee_list" %} 
{% else %} 
{% set active_page = "account" %} <!-- if user is logged in as employee, show this page in the account -->
{% endif %}
{%block content %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Stunden-Jahresübersicht</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <!-- CSS -->
    <link
      rel="stylesheet" type="text/css"href="{{ url_for('static', filename='overview_hours.css') }}"/>
  </head>

  <body>
    <div class="row">
      <div class="Mitarbeiter col-7 ml-3">
        <label for="NameMitarbeiter"
          >Jahresübersicht über die Stundensaldi</label
        >
      </div>
      <!-- year picker -->
      <div class="year row col-3 ml-0 mr-3">
        <label for="Jahresauswahl">Jahr auswählen </label>
        <form class="form-inline mx-3">
          <label for="Jahr"></label>   
            <select class="Jahre" name="Jahr" id="Jahr" onchange="wechseln()">
                {% for i in range (5) %} <!-- show last 5 years to choose -->
               <!-- array with the past 10 years in it -->
                <option value="{{ pastYears[i] }}">
                    {{ pastYears[i] }}
                </option>
                {% endfor %}
          </select>
        </form>
      </div>
    </div>

    <!-- create 12 tables in a row  -->
    <div class="row ml-0 mr-0">
      {% for i in range (12) %}
      <div class="container col-3">
        <div class="Tabellen col-20 mt-4 mb-3 p-0">
          <table
            class="table table-bordered table-responsive-sm my-0"
            id="overview_hours">
            <!-- set Text in cells -->
            <tr>
            
            </tr>
            <tr>
              <td>Summe</td>
              <td>{{ stundenSaldo }}</td> <!-- set data from routes.py in cells, that counts the hours -->
            </tr>
            <tr>
              <td>Soll-Stunden</td>
              <td></td>
            </tr>
            <tr>
              <td>Zeitvortrag</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      {% endfor %}

      

      <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/overview_hours.js') }}"
      ></script>
    </div>
  </body>
</html>
{% endblock content %}
