<!-- On this Site:
    -Forms to edit existing Timestamps
    -Form to add a new Timestamp-Pair
    -Button to delete existing Timestamp-Pair -->

{% extends "layout.html" %}
{% set active_page = "employee_list" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='employee_detail.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/datepicker.js')}}"></script>

<div class="container-fluid">
    <form method="POST" action="">
        
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Zeitstempel von Mitarbeiter <b>{{pers_nr}}</b>  am <b>{{date}} </b>bearbeiten
                </legend>

                <!-- Form Labels -->
                <div class="row">
                    <div class="col-1">
                        Paar ID
                    </div> 
                    <div class="col-2">
                        Art des Stempels
                    </div>
                    <div class="col-3">
                        Zeitpunkt
                    </div>
                    <div class="col-2">
                        Paar Löschen?
                    </div>
                    <div class="col-2">
                        Änderung speichern?
                    </div>
                </div>
                <hr/>
                       
                    
               <!-- Add a Form for every existing timestamp  -->
                {% for i in range(timestamps|length) %}
                    {%if timestamps[i].kind == "einstempeln" or timestamps[i].kind == "ausstempeln"%}
                        <div class="row">
                            <!-- Timestamp-Pair-ID -->
                            <div class="col-1" id="pair_id">{{timestamps[i].pair_id}}
                            </div>
                            <!-- Kind of Timestamp -->
                            <div class="col-2">
                                {{timestamps[i].kind}}
                            </div>
                            <!-- Time-Form -->
                            <div class="col-3">
                                <input type="time" id="default-picker" class="form-control" name="time_{{timestamps[i].pair_id}}" placeholder="Select time" value="{{timestamps[i].date.strftime('%H:%M')}}">
                                <label for="default-picker">Urspünglicher Zeitpunkt: {{timestamps[i].date.strftime('%H:%m') }}</label>
                            </div>
                            <!-- Delete - Button -->
                            
                            <!-- Only one Save- and one Delete-Button for each timestamp-Pair -->
                            {%if timestamps[i].kind == "einstempeln"%}
                            <div class="col-2">
                                <button class="btn btn-outline-danger mx-3 px-5 px-float-center" onclick="delete_modal(this)" type="button">Löschen</button>
                            </div>   
                            <!-- Save changes -->
                            <div class="col-2">
                                <button class="btn btn-outline-success mx-3 px-5 float-center" onclick="save_modal(this)" type="button">Speichern</button>
                            </div>
                            
                            {%else%}
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            {%endif%}
                            
                            
                        </div>
                    {%endif%}
                {% endfor %}

                <!-- Add a new Timestamp-Pair -->
                <hr/>
                <div class="row">
                    <div class="col-1" id="pair_id">Neuer Zeitabschnitt</div>
                                
                    <div class="col-3">
                        <input type="time" id="default-picker" class="form-control" name="new_time" placeholder="Select time" value="">
                        <label for="default-picker">Einstempeln </label>
                    </div>
                    <div class="col-3">
                        <input type="time" id="default-picker" class="form-control" name="new_time" placeholder="Select time" value="">
                        <label for="default-picker">Ausstempeln </label>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-outline-success mx-3 px-5 float-center" onclick="add_modal(this)" type="button">Speichern</button>
                    </div>
                </div>

            </fieldset>

            <!-- Go back to the overview -->
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-outline-info mx-3 px-5 float-center" onclick="goBack()" type="button">Zurück zur Übersicht</button>
                </div>
            </div>
            
    </form>
</div>

<!-- confirm deletion -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-align">
                    Wollen sie den Zeitabschnitt wirklich löschen?
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>                          
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="delete_timestamps()"> Löschen!
                </button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Abbrechen</button>
            </div>
            <!-- Call delete route with persnr and Pair-Id -->
            <script>                        
                function delete_timestamps() {
                    window.location.href = '/employee_timestamps/delete-timestamps?pers_nr=' + "{{pers_nr}}" + '&pair_id=' + pair_id;
                                           
                }
            </script> 
        </div>
    </div>
</div>

<!-- confirm saving -->
<div class="modal" id="saveModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-align">
                    Wollen sie die Änderungen speichern?
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                          
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" onclick="change_timestamps()"> Speichern!
                </button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Abbrechen</button>
            </div>
            <!-- call save route -->
            <script>                        
                function change_timestamps() {
                    window.location.href = '/employee_timestamps/change-timestamps?pers_nr={{pers_nr}}&date={{date}}' + "&stamp_from=" + time_from + "&to=" + time_to + "&pair_id=" + pair_id;
                                           
                }
            </script> 
        </div>
    </div>
</div>

<!-- Confirm adding new Timestamp-Pair -->
<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-align">
                    Wollen sie die Änderungen speichern?
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                          
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" onclick="add_timestamps()"> Speichern!
                </button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Abbrechen</button>
            </div>
            <!-- Call add route -->
            <script>                        
                function add_timestamps() {
                    window.location.href = '/employee_timestamps/add-timestamps?pers_nr={{pers_nr}}&date={{date}}' + "&stamp_from=" + time_from + "&to=" + time_to ;
                                           
                }
            </script> 
        </div>
    </div>
</div>

<script>
    var pair_id
    var time_from
    var time_to

    //get pair id of the timestamp pair to be deleted
    //and call the confirmation modal
    function delete_modal(elem){        
        var row = elem.parentElement.parentElement;        
        pair_id = row.querySelector('#pair_id').innerHTML;
        $('#deleteModal').modal('toggle');
    }

    //get the pair id, from- and to-time of the timestamp pair to be edited
    //and call the confirmation modal
    function save_modal(elem){
        var row = elem.parentElement.parentElement;
        
        pair_id = row.querySelector('#pair_id').innerHTML;
        var inputname = `time_${pair_id}`;
        time_from = $("[name="+ inputname +"]")[0].value
        time_to = $("[name="+ inputname +"]")[1].value

        $('#saveModal').modal('toggle');
    }

    //get the pair id, from- and to-time of the timestamp pair to be added
    //and call the confirmation modal
    function add_modal(elem){
        var row = elem.parentElement.parentElement;
        
        pair_id = row.querySelector('#pair_id').innerHTML;
        var inputname = `time_${pair_id}`;
        time_from = $("[name=new_time")[0].value
        time_to = $("[name=new_time")[1].value

        $('#addModal').modal('toggle');
    }

    //go back to te overview
    function goBack(){
        window.location.href = "/employee_timestamps?pers_nr={{pers_nr}}"
    }
</script>

{% endblock content %}
