<!-- On this site:
    -Overview of all time stamps of any employee in a freely selectable period 
    -Input fields to determine the time period to be displayed -->
{% extends "layout.html" %}
{% set active_page = "employee_list" %}
{% block content %}
<link rel="stylesheet" href="../static/timestamp.css">

<div class="hintergrundbox">
    <div>Zeit-Stempel von:</div>
    <!-- Date from -->
    <div class="span5 col-md-2" id="sandbox-container">
        <input type="text" class="form-control" id="timeIn">
    </div>
    <div>bis:</div>
    <!-- Date to -->
    <div class="span5 col-md-2" id="sandbox-container">
        <input type="text" class="form-control" id="timeOut">
    </div>
    <!-- submit date from and -to -->
    <div class="span5 col-md-1" id="sandbox-container">
        <button onclick="submit_entry();">anzeigen!</button>
    </div>
    <!-- div to insert all the days to be displayed -->
    <div class="view" id="timestampView" style="width: 85%; margin-left: 120px;"></div>
</div>

<!-- includes for displaying the timestamps -->
<script src="../../static/js/timestamp_display/ruler.js"></script>
<script src="../../static/js/timestamp_display/timestamp.js"></script>
<script src="../../static/js/timestamp_display/pair_line.js"></script>
<script src="../../static/js/timestamp_display/day.js"></script>
<script src="../../static/js/timestamp_display/timestamps.js"></script>

<script>
    // get startdate
    var startdate = "{{startdate}}";

    // function to use datepicker
    $(function () {
        $('#sandbox-container input').datepicker({
            format: "dd.mm.yyyy",
            language: "de",
            todayHighlight: true,
            toggleActive: true
        });
    });

    // get timestamps
    var timestamps = []
    timestamps = "{{timestamps}}"

    // make timestamps parsable
    timestamps = timestamps.split("&#34;").join("\"");

    //parse timestamps
    var array = JSON.parse(timestamps)

    //initialize the timestamp display
    TimestampCollection.init(true);

    //funcion to be called when new timespan is selected
    function submit_entry() {
        //get time in and time out from datepickers as strings
        var timeIN = document.getElementById("timeIn");
        var timeOut = document.getElementById("timeOut");
        //get persnr out of current url
        var url = new URL(window.location.href)
        var pers_nr = url.searchParams.get("pers_nr");

        var entry = {
            "from": dateIn = timeIN.value,
            "to": dateOut = timeOut.value,
            "pers_nr": pers_nr
        }

        // make request to get-timestamps route
        fetch("/employee_timestamps/get-timestamps", {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            //handle response
            .then(function (response) {
                if (response.status !== 200) {
                    return;
                }

                response.json().then(function (data) {
                    statdate = new Date(data["startdate"]);

                    timestamps = data["timestamps"];
                    // make timestamps parsable
                    timestamps = timestamps.split("&#34;").join("\"");
                    //parse timestamps
                    array = JSON.parse(timestamps);
                    //delete old timestamp display
                    document.getElementById("timestampView").innerHTML = "";
                    // make new timestamp display
                    TimestampCollection.init(true);
                })
            })
    }

</script>

{% endblock content %}