{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Something went wrong (500)</h1>
    <p>We are experiencing some trouble on our end. Please try again later. </p>
</div>

{% endblock content %}